body {
  background: grey;
}

#Grid {
  z-index: -10;
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  background: rgba(41, 41, 85, 0.8);
  border-radius: 20px;
  /* opacity: 0.5; */
}
